@media screen and (max-width: 1200px) {
  .container {
    padding-left: 3rem !important;
  }
  .card__text {
    width: 500px;
    height: 693px;
    background-color: var(--white);
    padding: 3rem;
    position: absolute;
    top: -8rem;
    z-index: -1;
  }

  .title {
    font-size: var(--link);
    position: relative;
    left: 2rem;
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    gap: 55px;
  }

  .title_part {
    display: flex;
    gap: 25px;
  }

  .small__heading {
    flex-direction: column;
    align-items: self-start;
    gap: 1rem;
  }
  .small__heading .title {
    order: 2;
  }

  .main_heading {
    margin-top: 0rem;
    width: 100%;
    gap: 5rem;
  }

  /* ----------------------- Section Four ------------------------- */
  .work__heading__btn .work_heading {
    width: 100%;
  }

  .image_container {
    justify-content: center;
    gap: 1rem;
  }

  .image_container .image__box .image__title {
    width: 100%;
  }

  .image_container .image__box .image__title h1 {
    font-size: 30px;
  }

  /* ----------------------- Section Five ------------------------- */
  .venture_heading .left_side {
    width: 40%;
  }

  .venture_heading .right_side {
    width: 60%;
  }

  .venture_heading h1 {
    font-size: 56px;
    width: 100%;
    line-height: 56px;
  }

  .venture_heading p {
    width: 60%;
  }

  .venture_top .venture_details,
  .venture_down .venture_details {
    width: 70%;
    height: 319px;
    padding: 0 1rem;
  }

  .venture_top .venture_details h2,
  .venture_down .venture_details h2 {
    width: 70%;
  }

  .venture_down .venture_details {
    padding-left: 0rem;
  }

  /*----------------------- Section Six / Blogs ---------------------- */
  .knowledge_heading h1 {
    width: 90%;
    line-height: 65px;
  }

  .knowledge_image_content .image_box h2 {
    width: 100%;
  }

  .knowledge_heading .small_title p {
    width: 90%;
  }

  /* ------------------------------ Section Eight --------------------------- */

  .campus_heading .campus_heading_small {
    width: 40%;
  }

  .campus_heading .campus_heading_large {
    width: 60%;
  }
  .campus_heading .campus_heading_large h1 {
    width: 85%;
  }
  /* --------------------------- Section nine --------------------- */
  .right_part .middle_part .img_part {
    margin-bottom: 1rem;
    width: 45%;
    height: 340px;
  }

  .right_part .left-part {
    width: 40%;
    height: 376px;
    right: 0rem;
  }

  .share_images {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 880px) {
  .stroke_text {
    font-size: 50px;
    line-height: 50px;
  }

  .home__top .home-heading {
    font-size: 50px;
    line-height: 50px;
  }

  .home__top {
    width: 100%;
  }

  /* ------------ White Bg Card ------------------- */
  .card__text {
    width: 430px;
    height: 693px;
    background-color: var(--white);
    padding: 1rem;
  }

  /* --------------------------- Section Two ------------------------ */

  .main_heading h1,
  .about_title h1,
  .work__heading__btn .work_heading h1,
  .knowledge_heading h1,
  .media_heading h1,
  .campus_heading .campus_heading_large h1,
  .share_heading h1 {
    font-size: 58px;
    text-transform: uppercase;
    line-height: 58px;
  }

  /* --------------------------- Section Four ------------------------ */

  .image_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* ----------------------- Section Five ------------------------- */
  .venture_heading h1 {
    font-size: 48px;
    width: 100%;
    line-height: 48px;
  }

  .venture_top .venture_details p,
  .venture_down .venture_details p {
    width: 90%;
  }

  .venture_top .venture_details h2,
  .venture_down .venture_details h2 {
    width: 90%;
  }

  /* ----------------------------- Section Six ----------------------------- */

  .knowledge_image_content .image_box h2 {
    font-size: 28px;
    line-height: 26px;
    width: 100%;
  }

  .knowledge_image_content {
    gap: 18px;
  }

  /* ----------------------------- Media Section ------------------------ */
  .media_heading {
    width: 100%;
  }

  .media_heading h1 {
    width: 70%;
  }

  /* --------------------------- Section nine --------------------- */

  .share_images .left_part {
    width: 40%;
  }
  .share_images .right_part {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  /* ------------ White Bg Card ------------------- */
  .card__text {
    width: 90%;
    height: 493px;
    background-color: var(--white);
    padding: 1rem;
  }

  .article_image_part {
    height: auto;
    margin-top: 9rem;
    align-items: start;
    gap: 20px;
    width: 100%;
  }
  .article_image_part p {
    width: 90%;
    order: 2;
  }

  .card__container {
    order: 1;
  }

  .main_heading {
    margin-top: 0rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  /* --------------------------- Section Three ------------------------ */

  .about__bottom {
    flex-direction: column;
    gap: 24px;
  }

  .about__bottom a {
    order: 2;
  }

  .article {
    width: 100%;
  }

  /* ----------------------------- Section Six ----------------------------- */
  .mv_hidden {
    display: none;
  }

  .pc_hidden {
    display: block;
  }

  .for_mobile_version {
    display: block;
    width: 90%;
    font-size: 48px;
    line-height: 48px;
  }

  .knowledge_heading .small_title {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .small_title h1 {
    width: 80%;
    color: #002d2d;
  }

  .knowledge__container {
    margin-top: 2rem;
  }

  /* ----------------------------- Media Section ------------------------ */
  .media_heading {
    flex-direction: column;
    align-items: self-start;
  }

  .media_heading h4 {
    width: 90%;
  }

  .media_card .media__image {
    height: 600px;
  }

  .media_card .media__image img {
    width: 100%;
    object-fit: cover;
  }

  /* ------------------------------ Section Eight --------------------------- */
  .campus_heading {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .campus_heading .campus_heading_small,
  .campus_heading .campus_heading_large {
    width: 100%;
  }

  .campus_heading .campus_heading_large p {
    width: 80%;
    padding-top: 1rem;
  }

  .campus_image {
    height: 370px;
  }
}

@media screen and (max-width: 660px) {
  :root {
    --h1: 36px;
    --h2: 34px;
    --h3: 24px;
    --h4: 20px;
    --h5: 18px;
    --h6: 14px;
    --text: 15px;
    --p: 16px;
    --link: 12px;
  }

  h1 {
    font-size: var(--fs-1);
    line-height: normal;
  }

  h2 {
    font-size: var(--fs-2);
  }

  h3 {
    font-size: var(--fs-3);
  }

  h4 {
    font-size: var(--fs-4);
  }

  h5 {
    font-size: var(--fs-5);
  }

  h6 {
    font-size: var(--fs-6);
  }

  .container {
    padding-left: 1rem !important;
    padding-right: 0.1rem !important;
  }

  .home__content {
    padding-top: 40vh;
  }

  .home__top {
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

  .home-heading {
    order: 2;
    margin-top: 32px;
    line-height: 32px !important;
  }

  .stroke_text {
    line-height: 32px;
    font-size: var(--h1);
  }

  .home__top .home-heading {
    font-size: var(--h1);
    font-family: var(--gelion-black);
    text-transform: uppercase;
    line-height: 65px;
    font-weight: 900;
  }

  .home-context {
    order: 1;
  }

  .home__down .liner {
    width: 100%;
  }

  .btn_links {
    margin-top: 20px;
    justify-content: flex-end;
  }

  .btn-area {
    display: none;
  }

  .main_heading {
    margin-top: 0rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .main_heading h1,
  .about_title h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .brand__container {
    margin-top: 1rem;
    padding-top: 0rem;
  }

  .work_heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .work__heading__btn .work_heading {
    width: 100%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
  }
  .work__heading__btn .work_heading p {
    width: 90%;
  }

  .image_container .image__box .image__title h1 {
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    width: 100%;
  }

  /* ----------------------- Section Five ------------------------- */
  .mobile_disply_none {
    display: none;
  }

  .venture_heading {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1rem;
    width: 100%;
  }

  .venture_heading .right_side {
    width: 100%;
  }

  .venture_heading h1 {
    width: 100%;
    color: #2d0505;
  }

  .pc_visible {
    display: inline-block;
    width: 100%;
  }

  .venture_heading p {
    padding-top: 1rem;
    width: 80%;
    color: #2d0505;
  }

  .venture_content {
    margin-top: 3rem;
  }

  .venture_top,
  .venture_down {
    flex-direction: column;
    align-items: self-start;
    width: 100%;
  }

  .venture_top .venture_img,
  .venture_down .venture_img {
    width: 100%;
  }

  .venture_top .venture_details,
  .venture_down .venture_details {
    width: 90%;
    height: 250px;
  }

  .venture_down:nth-child(2) .venture_details {
    order: 2;
  }

  .venture_top .venture_details h2,
  .venture_down .venture_details h2 {
    width: 100%;
  }

  .venture_top .venture_details p,
  .venture_down .venture_details p {
    width: 100%;
  }

  /* ----------------------------- Media Section ------------------------ */
  .media_heading h1,
  .campus_heading .campus_heading_large h1 {
    font-size: 48px;
    line-height: 48px;
  }
}

@media screen and (max-width: 550px) {
  /* ------------ White Bg Card ------------------- */
  .article_image_part {
    height: min-content;
    margin-top: 13rem;
    align-items: start;
    gap: 20px;
    width: 100%;
  }

  .article_image_part p {
    width: 90%;
    order: 2;
  }

  .card__container {
    order: 1;
  }

  .article {
    width: 100%;
    flex-direction: column;
  }

  .article p {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .article_image_part {
    margin-top: 16rem;
  }

  .main_heading {
    margin-top: 0rem;
    display: flex;
    align-items: center;
    gap: 0rem;
  }

  .main_heading h1 {
    font-size: 38px;
    line-height: 38px;
  }

  .main_heading a {
    margin-bottom: 4rem;
  }

  .image_container .image__box .image__title h1 {
    top: 90%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    width: 100%;
  }
}
