/* --------------- Fonts -------------------- */
@font-face {
  font-family: Gelion-Black;
  src: url(../fonts/Gelion\ Black.woff);
}

@font-face {
  font-family: Gelion-Regular;
  src: url(../fonts/Gelion\ Regular.woff);
}

@font-face {
  font-family: Gelion-Light;
  src: url(../fonts/Gelion\ Light.woff);
}

@font-face {
  font-family: Gelion-Medium;
  src: url(../fonts/Gelion\ Medium.woff);
}

@font-face {
  font-family: Gelion-Bold;
  src: url(../fonts/Gelion\ Bold.woff);
}

@font-face {
  font-family: Gelion-Semibold;
  src: url(../fonts/Gelion\ SemiBold.woff);
}

:root {
  --black: #0c0f11;
  --dark-bg: #0c0f11;
  --white: #ffffff;
  --sky-blue: #7abaff;
  --yellow: #ffd35c;
  --green: #89e0ba;
  --title-color: #fd9444;
  --heading-color: #ffffff;

  --bg-one: #d8e6e6;
  --grey-bg: #f5f6f7;
  --bg-two: #000037;
  --bg-three: #faf0e1;
  --bg-four: #ffd35c;
  --footer-bg: #5862ed;

  --gelion-black: "Gelion-Black";
  --gelion-regular: "Gelion-Regular";
  --gelion-light: "Gelion-Light";
  --gelion-medium: "Gelion-Medium";
  --gelion-bold: "Gelion-Bold";
  --gelion-semibold: "Gelion-Semibold";

  --h1: 74px;
  --h2: 34px;
  --h3: 24px;
  --h4: 20px;
  --h5: 18px;
  --h6: 14px;
  --text: 15px;
  --p: 16px;
  --link: 12px;

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* ----------------- Custom Css ------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--gelion-regular);
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
}

input::-webkit-search-cancel-button {
  display: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

h1 {
  font-size: var(--fs-1);
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-4);
}

h5 {
  font-size: var(--fs-5);
}

h6 {
  font-size: var(--fs-6);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 10rem;
  padding-right: 1rem;
  overflow: hidden;
}

/*--------------------------- HEADER ----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 20px;
  width: 100%;
  z-index: 999;
}

.header.scrolled {
  background-color: var(--white);
  transition: 0.5s ease;
  z-index: 200;
}

.header .home__navabr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 115px;
}

.header.scrolled .logo img {
  width: 115px;
  filter: grayscale(100%) brightness(0%);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
  padding: 20px;
  z-index: 9999;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(0);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar .wrapper .nav__logo {
  position: absolute;
  width: 162px;
  top: 2rem;
}

.navbar .navbar-list {
  position: absolute;
  left: 1rem;
}

.navbar .navbar-list .navbar-link {
  display: block;
  font-size: var(--h3);
}

.nav-close-btn {
  transition: var(--transition-1);
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.nav-close-btn i {
  font-size: 30px;
}

.navbar-link {
  color: var(--white);
  font-size: 20pt;
  font-family: var(--ff-tthoves-regular);
  transition: var(--transition-1);
  padding-left: -4rem;
}

.nav__social_links {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.nav__social_links a {
  padding-inline: 15px;
  font-size: 23px;
}

header .btn {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 46px;
  border: 1px solid var(--white);
  color: var(--white);
}

.header .btn:hover {
  background-color: rgba(230, 230, 230, 0.152);
}

.header.scrolled .btn {
  color: white;
}

.header .btn a {
  color: var(--black);
}

.header .btn img {
  width: 19px;
}

.nav-open-btn i {
  font-size: 22px;
  color: white;
}

.nav-open-btn.scrolled i {
  font-size: 25px;
  color: var(--black);
}

.header.scrolled .nav-open-btn i {
  color: var(--black);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--raisin-black_90);
  transition: var(--transition-2);
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 992px) {
  .header {
    padding: 20px 30px;
    position: fixed;
  }

  .header.scrolled .logo img {
    width: 162px;
    filter: grayscale(100%) brightness(0%);
  }

  .header .logo img {
    width: 162px;
  }
  .header.scrolled {
    background-color: var(--white);
    transition: 0.5s ease;
    z-index: 200;
  }

  .header.scrolled .btn {
    background-color: var(--black);
    color: white;
  }

  .header .btn img {
    width: 19px;
  }

  .header.scrolled .btn img {
    filter: grayscale(0%) brightness(100%);
    color: #fff;
  }

  header .btn {
    padding: 13px 36px;
  }

  .nav-open-btn,
  .overlay,
  .navbar .wrapper {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar .navbar-list {
    position: relative;
    display: flex;
    gap: 40px;
  }

  .navbar .navbar-list .navbar-link {
    font-size: 12pt;
    color: var(--white);
  }

  .header.scrolled .navbar-list .navbar-link {
    color: var(--black);
  }

  .nav__social_links {
    display: none;
  }

  .contact-link {
    display: none;
  }

  .header .btn {
    display: inline-flex;
  }
}

@media (min-width: 1340px) {
  .header {
    padding: 20px 30px;
    position: fixed;
  }

  .header.scrolled .logo img {
    width: 162px;
    filter: grayscale(100%) brightness(0%);
  }

  .header .logo img {
    width: 162px;
  }

  .header.scrolled {
    background-color: var(--white);
    transition: 0.5s ease;
    z-index: 200;
  }

  .header.scrolled .btn {
    background-color: var(--black);
    color: white;
  }

  .header .btn img {
    width: 19px;
  }

  .header.scrolled .btn img {
    filter: grayscale(0%) brightness(100%);
    color: #fff;
  }

  .header.scrolled .nav-open-btn img {
    filter: grayscale(100%) brightness(0%);
  }

  .header.scrolled .navbar-list .navbar-link {
    color: var(--black);
  }

  .navbar .navbar-list .navbar-link {
    font-size: var(--link);
  }

  .navbar-list {
    position: relative;
    display: flex;
  }

  .nav__social_links {
    display: none;
  }

  .contact-link {
    display: none;
  }
}

/* ---------------------------------Home Start -----------------------------*/

.home {
  position: relative;
  width: 100%;
  height: 100vh;
}

.home video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home__content {
  padding-top: 50vh;
  position: relative;
  color: var(--white);
}

.stroke_text {
  -webkit-text-stroke: 1px rgba(247, 247, 247, 0.852);
  -webkit-text-fill-color: transparent;
  font-family: var(--gelion-bold);
  font-size: var(--h1);
  line-height: 65px;
}

.home__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 90%;
}

.home__top .home-heading {
  font-size: var(--h1);
  font-family: var(--gelion-bold);
  line-height: 65px;
  font-weight: 900;
}

.home-context {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.home-context p {
  font-size: var(--link);
  text-align: left;
}

.home__down {
  margin-top: 1rem;
  width: 90%;
}

.home__down .liner {
  height: 1px;
  width: 70%;
  background-color: #a5a5a5;
}

.btn_links {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-area {
  font-size: var(--h6);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease;
}

.btn-area:hover i {
  margin-left: 17px;
}

.btn-area i {
  border: 1px solid var(--white);
  padding: 15px;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin-left: 8px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.links i {
  border: 1px solid var(--white);
  padding: 6px;
  border-radius: 50px;
  transition: all 0.3s ease;
  font-size: 15px;
}

/* --------------------------- Section Two ------------------------ */

.places {
  height: auto;
  padding: 4rem 0;
  background-color: var(--grey-bg);
  width: 100%;
  z-index: 99;
  position: relative;
}

/* ------------ White Bg Card ------------------- */

.card__text {
  width: 680px;
  height: 693px;
  background-color: var(--white);
  padding: 3rem;
  padding-left: 10rem;
  position: absolute;
  top: -8rem;
  z-index: -1;
}

.left__card h1 {
  font-family: var(--gelion-bold);
  font-size: var(--h2);
  font-weight: 900;
  line-height: 45px;
  padding-bottom: 48px;
}

.left__card p {
  width: 100%;
  font-size: var(--p);
  color: #0c0f11;
  opacity: 0.5;
}

.top_card h1 {
  font-family: var(--gelion-black);
  font-size: var(--h2);
  font-weight: 900;
  line-height: 45px;
}

.article_image_part {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 0px;
  position: relative;
  width: 100%;
}

.article_image_part p {
  width: 40%;
  font-family: var(--gelion-regular);
  font-size: var(--p);
  font-weight: normal;
  font-style: normal;
  color: #0c0f11;
  margin-bottom: 3rem;
}

/*------------- Slider  -------------- */

.card__container {
  width: 100%;
}

.card__content {
  overflow: hidden;
  width: 100%;
}

.card__image {
  height: 300px;
  display: flex;
  position: relative;
}

.card__image .city_name {
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
  color: var(--white);
  font-size: var(--h3);
  font-family: var(--gelion-regular);
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/* --------------------------- Section Three ------------------------ */

.programs {
  padding: 7rem 0;
  background-color: var(--bg-one);
  width: 100%;
  position: relative;
}

.small__heading {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.title {
  font-size: var(--link);
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #002d2d;
}

.main_heading {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  width: 90%;
  gap: 20rem;
}

.main_heading h1 {
  font-size: var(--h1);
  font-family: var(--gelion-bold);
  color: #002d2d;
}

.main_heading .btn-area {
  color: #002d2d;
}

.main_heading .btn-area i {
  border: 1px solid #002d2d;
}

.card__container {
  margin-top: 2rem;
}

.program_card__image {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

.program_card__image .programe_name {
  position: absolute;
  bottom: 0.5rem;
  text-align: center;
  color: var(--white);
  font-size: var(--h2);
  font-family: var(--gelion-regular);
  width: 100%;
}

.program_card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------------------- About US ------------------------ */
.about {
  padding: 7rem 0;
}

.about_title h1 {
  font-family: var(--gelion-bold);
  font-size: var(--h1);
  font-weight: 900;
  line-height: 65px;
  color: var(--bg-two);
}

.about__bottom {
  width: 100%;
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}

.about__bottom .btn_links {
  width: 30%;
  color: #002d2d;
}

.about__bottom .btn_links .btn-area i {
  border: 1px solid var(--black);
}

.article {
  display: flex;
  gap: 24px;
  width: 70%;
  padding-top: 2rem;
}

.article p {
  width: 50%;
  font-size: var(--p);
  font-family: var(--gelion-regular);
  line-height: normal;
}

/* ----------------------- Section Four ------------------------- */
.work {
  padding: 7rem 0;
  background-color: var(--bg-two);
  color: var(--white);
}

.work__heading__btn .work_heading {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__heading__btn .work_heading h1 {
  font-size: var(--h1);
  font-family: var(--gelion-bold);
  line-height: 65px;
}

.work__heading__btn .work_heading p {
  width: 70%;
}

.work__heading__btn .btn_links {
  margin-top: 24px;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.image_container .image__box {
  background-color: var(--sky-blue);
}

.image_container .image__box:nth-child(2) {
  background-color: var(--title-color);
}

.image_container .image__box .image__title {
  position: relative;
  width: 484px;
  height: 584px;
}

.image_container .image__box .image__title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_container .image__box .image__title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  color: var(--sky-blue);
}

.image_container .image__box .image__title .orenged {
  color: var(--title-color);
}

.title__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 20px;
}

.title__btn h3 {
  font-size: var(--h3);
  font-family: var(--gelion-light);
}

.title__btn .start_btn {
  padding: 12px 33px;
  font-size: var(--h6);
  border: 1px solid var(--white);
  font-family: var(--gelion-bold);
}

/* ----------------------- Section Five ------------------------- */
.venture {
  padding: 7rem 0;
  position: relative;
}

.venture_heading {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.venture_heading h4 {
  position: absolute;
  left: 2rem;
  font-size: var(--h4);
  font-family: var(--gelion-light);
  color: var(--title-color);
}

.venture_heading p {
  padding-top: 10rem;
  padding-left: 3rem;
  font-size: var(--link);
  font-family: var(--gelion-regular);
  width: 25%;
  color: #2d0505;
}

.venture_heading h1 {
  font-size: var(--h1);
  font-family: var(--gelion-bold);
  color: var(--bg-two);
  width: 50%;
  line-height: 65px;
}

.venture_content {
  margin-top: 5rem;
}

.venture_top,
.venture_down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.venture_down {
  margin-top: 3rem;
}

.venture_top .venture_img,
.venture_down .venture_img {
  width: 60%;
  height: 364px;
}

.venture_top .venture_img img,
.venture_down .venture_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.venture_top .venture_details,
.venture_down .venture_details {
  width: 40%;
  height: 319px;
  padding: 0 2rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.venture_down .venture_details {
  padding-left: 10rem;
}

.venture_top .venture_details h4,
.venture_down .venture_details h4 {
  background-color: var(--yellow);
  padding: 6px 16px;
  border-radius: 18px;
  font-size: var(--link);
  font-family: var(--gelion-light);
}

.venture_top .venture_details h2,
.venture_down .venture_details h2 {
  font-size: var(--h2);
  font-family: var(--gelion-light);
  width: 55%;
  line-height: 34px;
}

.venture_top .venture_details p,
.venture_down .venture_details p {
  font-size: var(--link);
  font-family: var(--gelion-light);
  width: 70%;
  color: #2d0505;
}

/* ----------------------------- Section Six ----------------------------- */

.knowledge {
  padding: 7rem 0;
  background-color: var(--bg-three);
}

.knowledge_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.knowledge_heading h1 {
  font-size: var(--h1);
  font-family: var(--gelion-bold);
  width: 70%;
  color: var(--bg-two);
  line-height: 65px;
}

.knowledge_heading .small_title {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.knowledge_heading .small_title h4 {
  font-size: var(--h4);
  color: #fd9444;
}

.knowledge_heading .small_title p {
  font-size: var(--link);
  color: #2d0505;
  width: 50%;
}

.knowledge_image_content {
  padding-top: rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.knowledge_image_content .image_box:nth-child(2n) {
  margin-top: 14rem;
}

.knowledge_image_content .image_box img {
  width: auto;
  height: 450px;
  object-fit: cover;
}

.knowledge_image_content .image_box h2 {
  font-size: var(--h2);
  font-family: var(--gelion-light);
  color: #0c0f11;
  margin-top: 16px;
  width: 80%;
}

.blog_btn {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_btn a {
  border: 1px solid var(--black);
  padding: 12px 34px;
  font-size: var(--h6);
  font-family: var(--gelion-bold);
}

/* ----------------------------- Media Section ------------------------ */
.media {
  padding: 7rem 0;
}

.media_heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  width: 70%;
}

.media_heading h1 {
  font-size: var(--h1);
  font-family: var(--gelion-bold);
  width: 30%;
  color: var(--bg-two);
  line-height: 65px;
}

.media_heading h4 {
  color: #2d0505;
  font-size: var(--h4);
  width: 40%;
}

.media__content
{
  margin-top: 3rem;
}

.media_card .media__image img{
  height: auto;
  width: 100%;
  object-fit: cover;
}