/* --------------- Fonts -------------------- */
@font-face {
  font-family: Gelion-Black;
  src: url(../fonts/Gelion\ Black.woff);
}

@font-face {
  font-family: Gelion-Regular;
  src: url(../fonts/Gelion\ Regular.woff);
}

@font-face {
  font-family: Gelion-Light;
  src: url(../fonts/Gelion\ Light.woff);
}

@font-face {
  font-family: Gelion-Medium;
  src: url(../fonts/Gelion\ Medium.woff);
}

@font-face {
  font-family: Gelion-Bold;
  src: url(../fonts/Gelion\ Bold.woff);
}

@font-face {
  font-family: Gelion-Semibold;
  src: url(../fonts/Gelion\ SemiBold.woff);
}

:root {
  --black: #0c0f11;
  --dark-bg: #0c0f11;
  --white: #ffffff;
  --sky-blue: #7abaff;
  --yellow: #ffd35c;
  --green: #89e0ba;
  --title-color: #fd9444;
  --heading-color: #ffffff;

  --bg-one: #d8e6e6;
  --bg-two: #000037;
  --bg-three: #faf0e1;
  --bg-four: #ffd35c;
  --footer-bg: #5862ed;

  --gelion-black: "Gelion-Black";
  --gelion-regular: "Gelion-Regular";
  --gelion-light: "Gelion-Light";
  --gelion-medium: "Gelion-Medium";
  --gelion-bold: "Gelion-Bold";
  --gelion-semibold: "Gelion-Semibold";

  --h1: 74px;
  --h2: 34px;
  --h3: 24px;
  --h4: 20px;
  --h5: 18px;
  --h6: 14px;
  --text: 15px;
  --p: 16px;
  --link: 12px;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--gelion-regular);
  background-color: var(--white);
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

h1
{
  font-size: var(--h1);
  font-family: var(--gelion-bold);
  line-height: 65px;
  font-weight: 900;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.stroke_text {
  -webkit-text-stroke: 1px rgba(247, 247, 247, 0.852);
  -webkit-text-fill-color: transparent;
  font-family: var(--gelion-bold);
  font-size: 4rem;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  width: 100%;
  height: 80px;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__items {
  display: flex;
  list-style-type: none;
  gap: 54px;
}

.nav__items li a {
  color: white;
  font-size: var(--link);
  font-weight: normal;
  text-align: center;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
}

.home video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home__content {
  position: absolute;
  top: 60%;
  color: var(--white);
  width: 65%;
}

.home__top
{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.home__down
{
  margin-top: 1rem;
}


.home__down .liner
{
  height: 1px;
  width: 70%;
  background-color: #a5a5a5;
}
.btn_links
{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*=============== CARD ===============*/

.card__container {
  padding-block: 8rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 0.2rem;
  overflow: hidden;
  padding-left: rem;
}

.card__image {
  height: 500px;
  background-color: red;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 100%;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}
